body {
  margin: 30px;
  font-family: sans-serif;
}

.description {
  max-width: 800px;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

th {
  background: #dfdfdf;
  font-weight: bold;
}

td,th {
  border: 1px solid transparent;
  height: 30px;
}

tr:nth-child(even)  td {
  background: #f1f1f1;
}
tr:nth-child(odd) td {
  background: #fefefe;
}

td {
  padding: 0 10px;
  background: #fafafa;
  text-align: left;
}

.chart-footer {
  font-style: italic;
  font-size: 10pt;
  color: #aaa;
}
